@media(max-width:1200px){
    body{
        font-size: 12px;
    }
    p{
        margin-bottom: 20px;
    }
    .container{
        max-width: 1000px;
    }
    #main-banner{
        max-width: 1000px;
    }
    #header{
        font-size: 10px;
    }
    .form-control{
        font-size: 12px;
    }
    #menu .menu:after{
        width: 1000px;
        left: calc(50% - 500px);
    }
}
@media(max-width:960px){
    body{
        font-size: 10px;
    }
    p{
        margin-bottom: 15px;
    }
    #header,#menu .menu{
        display: none;
    }
    .fa-arrow-left:before,.fa-arrow-right:before{
        font-size: 20px;
    }
    #menu{
        background-color: #fff;
        padding: 10px;
    }
    #menu img{
        max-width: 620px;
    }
    
    #main-banner h3,#new-arri h3{
        font-size: 25px;
    }
    
}
@media(max-width:768px){
    p{
        margin-bottom: 10px;
    }
    body{
        font-size: 8px;
    }
    #pie{
        margin-top: 30px;
    }
    #pie .row{
        flex-direction: column;
        padding-bottom: 0;
    }
    #pie .row:last-child{
        background-color: black;
        color: white;
        text-align: center;
    }
    #pie .col{
        margin-bottom: 20px;
    }
    #menu{
        background-color: #fff;
        padding: 10px;
    }
    #menu img{
        max-width: 420px;
    }
    #main-banner h3,#new-arri h3{
        font-size: 18px;
    }
    .fa-arrow-left:before,.fa-arrow-right:before,#header,#menu .menu{
        display: none;
    }
    #new-arri .imagen-leyenda-contenido{
        max-width: 300px;
    }
    #shop .row {
        flex-direction: column;
        align-items: center;
    }
    #shop .col{
        margin: 10px 0 20px 0;
        max-width: 300px;
    }
}